*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body{
    background: url("https://wallpaperaccess.com/full/279547.jpg");
    background-size: cover;
}

nav{
    background: #1b1b1b;
    transition: .1;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
    list-style-type: none;
    float: right;
    margin-right: 40px;
    position: relative;
}

nav ul li{
    /* float: left; */
    display: inline-block;
    background: #1b1b1b;
    margin: 0px 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 75px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    top: 70px;
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #33ffff;
}

nav ul ul{
    position: absolute;
    top: 75px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

nav ul li .fa{
    margin-right: 15px;
}